@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=DM+Serif+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: DM Sans;    
    /* transition: all 0.5s ease; */
}
h1, h2, h3, h4{
    font-family: 'DM Serif Display', serif;
}
h5{
    letter-spacing: 4.8px;
    text-transform: uppercase;
    font-weight: 300;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #434CCC;     
    color:white;
    padding:16px 135px;
}

.navbar-logo{
    font-size: 40px;
}

.navbar-cont{
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar-titles{
    display: flex;
    gap: 40px;
}

.navbar-titles>a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navbar-titles>a:hover{
    color:#F1B505;
}

.navbar-button>button{
    color: white;
    background: transparent;
    padding:11px 56.5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    font-weight: 700;
    cursor: pointer;
    margin-left: 40px;
}

.navbar-button>button:hover{
    color: white;
    border-radius: 5px;
    background: #F1B505;
    scale: 1.05;
}

.banner{
    position: relative;
    color:white;
    background: #434CCC;
    height: 681px;
}

.banner-cont{
    padding:88px 135px 0px 135px;
}

.banner-cont>h5{
    margin-bottom:24px;
}

.banner-heading{
    font-size: 72px;
    width: 50%;
    margin-bottom:32px;
}

.banner-description{
    width: 30%;
    margin-bottom:41px;
    line-height: 24px;
    font-weight: 700;
}

.buttonyellow{
    padding:11px 55.5px;
    color: white;
    border-radius: 5px;
    background: #F1B505;
    border: none;
    font-weight: 700;
    cursor: pointer; 
}

.buttonyellow:hover{
    scale:1.05; 
}

.banner-img{
    position: absolute;
    top:0;
    left:440px;
    margin-top: -30px;
    width: 65%;
    height: 100%;
}

#service-section{
    background-color: #ffdd78;
    width: 100%;
    /* height: 800px; */
    /* padding:60px 135px 80px 135px; */
    /* padding-bottom: 80px; */
}

.service-cont{
    padding:60px 135px 80px 135px;
    /* padding-top: 60px; */
}

#head{
    
    /* color: black; */
    font-size: 56px;
    text-align: center;
    /* margin-left: 35%; */
    font-weight: 400;
}

#service-section-paragraph{
    color: black;
    font-weight: 100;
}


#para-one{
    margin-top: 29px;
    margin-left: 30%;
    font-size: 24px;

}

#para-two{
    margin-left: 42%;
    font-size: 24px;    
   
}

.service-section-cards{
    display: flex;
    gap: 30px;
    margin-top: 36px;
    justify-content: center;
}

.service-card{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    flex-direction: column;
    width: 370px;
    height: 416px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
}

.service-card-img{
    text-align: center;
    margin-top: 60px;
}

.service-card-cont{
    padding-left:32px;
}


.service-card-cont>h4{
    margin-left:-2px;
    margin-bottom: 30px;
    font-size: 24px;
}

.service-card-cont>p{
    color: #7f7f7f;
    margin-right:32px;
    margin-bottom: 30px;
}

#line{
    opacity: 0.0.1011;
    margin-bottom: 18px;
}

.learn-btn{
    border:none;
    background: none;
    display: flex;
    align-items: center;
    gap:10px;
    cursor: pointer;
}


.review-section {
    display: flex;
    justify-content: center;
    background:#f5f6fc ;
    flex-direction: column;
    padding:63px 135px 117px 135px;
  }

  .review-cont{
    text-align: center;
  }

  .review-cont>h5{
    margin-bottom: 21px;
    
  }

  .review-cont>h2{
     margin-bottom: 29px;
     font-size: 56px;
  }

  .review-cont>p{
    width: 38%;
    margin-left: 355px;
    text-align: center;
  
  }
  
  .review-section-inner{
    display: flex;
    align-items: center;
  }
  .review-section-content-left{
  margin-left: -100px;
  }
  .review-section-content-left>h3{
    width: 60%;
    font-size: 40px;
    margin-bottom: 37px;
  }
  .review-section-content-left>p{
    color:#00000080;
    width: 75%;
    margin-bottom: 37px;
  }
  .review-section-content-right{
    margin-right: -100px;
    width: 50%;
    margin-left: 100px;
  }
  .review-section-content-right>h3{
    font-size: 40px;
    margin-bottom: 37px;
  }
  .review-section-content-right>p{
     color:#00000080;
     width: 85%;
     margin-bottom: 37px;
  }

.project-section{
    background: #434CCC;     
    color:white;
    padding:79px 135px 0px 135px;
}

.project-section-cont{
    text-align: center;
}

.project-section-cont>h5{
    margin-bottom: 21px;
}

.project-section-cont>h2{
    margin-bottom: 36px;
    font-size: 56px;
}

.project-section-cont>p{
    margin-bottom: 52px;
}

.project-section-overview{
    background: url("./assets/girlwithmac.png");
    height: 512px;
    border-radius: 5px;
    background-position: 300px -73px;
    display: grid;
    grid-template-columns: repeat(2,1fr); 

    z-index:99;
}

.project-section-titles{
    padding: 111px 0px 0px 100px ;
    /* background: #F1B505;  */
}

.project-section-titles>h5{
    margin-bottom: 21px;
}

.project-section-titles>h2{
    margin-bottom: 36px;
    font-size: 56px;
}

.project-section-titles>button{
    padding: 13px 43px;
    font-weight: 700;
    border-radius: 5px;
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.30);
}

.project-section-titles>button:hover{
    scale:1.05;
    color:black;
    background: white;
}

.project-section-img>img{
    height: 512px;
}
.project-section-part{
    padding: 128px 135px;
    background-color: #f5f6fd;
} 
.project-section-part{
    /* margin-top: -96px; */
}
.project-section-tiles{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,512px);
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.tile-cont{
    margin: 79px 0px 0px 100px;
    color: white;
}
.tile-cont>p{
    margin-bottom: 17px;
}
.tile-cont>h4{
    font-size: 24px;
    margin-bottom: 24px;
}
.project-section-tile-one{
    background-color: #e94a47;
    background-image: url(./assets/artifact.png);
    height: 100%;
    background-position:-20px 10px ;
    background-size:850px 560px;   
}


.project-section-tile-one>p{
  font-size: 16px;
  height: 24px;
  width: 67px; 
}

.project-section-tile-one>h4{
    font-size: 24px;
    color: white;
    height:96px ;
    width: 161px;
  }

.project-section-tile-two>p{
    font-size: 16px;
    height: 24px;
    width: 67px; 
}
.project-section-plus{
    border: 1px solid #FFFFFF4D;
    text-align: center;
    padding: 12px 0px;
    border-radius: 15%;
    width: 48px;  
}
.project-section-tile-two>h4{
    font-size: 24px;
    color: white;
    height:96px ;
    width: 161px;
}

.project-section-tile-two{
    background-color: #428dfc ;
    background-image: url(./assets/dog.png);
    height: 100%;
    background-position:-250px -80px;
    background-size:1300px 900px;
}

.project-section-works-btn{
    text-align: center;

}
.works-btn{
    text-align: center;
    margin-top: 35px;
    width: 170px;
    height: 48px;
    color :#434CCC;
    border-radius: 6px;
    border:1px solid  #bbbfed;
    background: transparent;
}

  
  
  
  
  
  
  
  
  
  
